@import "colors";
@import "sizes";

:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    width: 100%;
}

h1 {
    color: $PRIMARY-COLOR;
    margin: 20px;
}

.logo {
    margin-left: auto;
    height: 100px;
    cursor: pointer;
    ::ng-deep {
        .car {
            transition: all 0.5s;
            opacity: 1;
        }
    }
    &.race-started {
        ::ng-deep {
            .car {
                opacity: 0;
            }
        }
    }
}

.race {
    opacity: 0;
    transition: all 0.5s;
    &.race-started {
        opacity: 1;
    }
}

.navigation-icon {
    display: none;
}

@media screen and (max-width: $NAVIGATION-MOBILE-QUERRY) {
    :host {
        padding: 10px;
    }

    .navigation-icon {
        display: block;
        height: 50px;
    }

    .route {
        display: none;
    }

    .logo {
        height: 50px;

        ::ng-deep {
            .car {
                opacity: 1 !important;
            }
        }
    }

    .race {
        opacity: 0 !important;
    }
}
