<a *ngFor="let route of routes" class="route" [routerLink]="route.url">
  <h1>{{route.name}}</h1>
</a>

<app-icon class="navigation-icon" icon="menue" (click)="fullPageNavigationOpen = !fullPageNavigationOpen"></app-icon>
<app-full-page-navigation [routes]="routes" [(show)]="fullPageNavigationOpen"></app-full-page-navigation>

<app-icon class="logo" [class.race-started]="raceStarted" icon="logo"></app-icon>
<app-race class="race" [class.race-started]="raceStarted" (socketConnected)="raceStarted = true"
  (socketDisconnected)="raceStarted = false"></app-race>
