@import "colors";
@import "sizes";

:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    height: 140px;
    width: 100%;
}

.route {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

    &:not(:last-child) {
        padding-right: 0;
        margin-right: 20px;
    }

    h1 {
        color: $PRIMARY-COLOR;
        margin: 0;
    }

    .line {
        height: 2px;
        background-color: $PRIMARY-COLOR;
        width: 0;
        transition: all 0.5s;
    }

    &.active {
        .line {
            width: 100%;
        }
    }
}

.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    margin-left: auto;
    height: 100px;
    ::ng-deep {
        .car {
            transition: all 0.5s;
            opacity: 1;
        }
    }
    &.race-started {
        ::ng-deep {
            .car {
                opacity: 0;
            }
        }
    }
}

.race {
    opacity: 0;
    transition: all 0.5s;
    &.race-started {
        opacity: 1;
    }
}

.navigation-icon {
    display: none;
}

@media screen and (max-height: 1000px) {
    :host {
        height: fit-content;
    }

    .route {
        padding: 10px;
    }
}

@media screen and (max-height: $SMALLER-PADDING-QEURRY) {
    :host {
        height: fit-content;
        padding: 10px;
    }

    .route {
        padding: 5px;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}

@media screen and (max-width: $NAVIGATION-MOBILE-QUERRY) {
    .navigation-icon {
        display: block;
        height: 50px;
    }

    .route {
        display: none;
    }

    .logo {
        height: 50px;

        ::ng-deep {
            .car {
                opacity: 1 !important;
            }
        }
    }

    .race {
        opacity: 0 !important;
    }
}
