@import "sizes";

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hidden {
    display: none;
}

.main-picture {
    max-width: 600px;
    width: 100%;
    padding: 20px;
}

.text {
    max-width: 1000px;
    padding: 0 20px;
    width: 100%;

    .game-error {
        color: red;
    }
}

@media screen and (max-width: $NAVIGATION-MOBILE-QUERRY) {
    .game {
        display: none;
    }
}
