@import "colors";
:host {
  display: flex;
  flex-direction: row;
  width: 100%;
}

h1 {
  color: $PRIMARY-COLOR;
  margin: 20px;
}

.logo {
  margin: 20px;
  margin-left: auto;
  height: 100px;
  cursor: pointer;

  &.race-started {
    ::ng-deep {
      .car {
        display: none;
      }
    }
  }
}
