<div>
    <img-comparison-slider class="image-slider image1">
        <img slot="first" src="assets/images/picture1_edited.jpg" />
        <img slot="second" src="assets/images/picture1.jpg" />
    </img-comparison-slider>
</div>
<div>
    <img-comparison-slider class="image-slider image2">
        <img slot="first" src="assets/images/picture2_edited.jpg" />
        <img slot="second" src="assets/images/picture2.jpg" />
    </img-comparison-slider>
</div>
<div>
    <img-comparison-slider class="image-slider image3">
        <img slot="first" src="assets/images/picture3_edited.jpg" />
        <img slot="second" src="assets/images/picture3.jpg" />
    </img-comparison-slider>
</div>
