<div>
    <img-comparison-slider class="image-slider image1">
        <img slot="first" src="assets/images/picture1.jpg" />
        <img slot="second" src="assets/images/picture1_edited.jpg" />
    </img-comparison-slider>
</div>
<div>
    <img-comparison-slider class="image-slider image1">
        <img slot="first" src="assets/images/picture1.jpg" />
        <img slot="second" src="assets/images/picture1_edited.jpg" />
    </img-comparison-slider>
</div>
<div>
    <img-comparison-slider class="image-slider image1">
        <img slot="first" src="assets/images/picture1.jpg" />
        <img slot="second" src="assets/images/picture1_edited.jpg" />
    </img-comparison-slider>
</div>
