<div>
    <img-comparison-slider class="image-slider image1">
        <img slot="first" [src]="urlService.urls.image1Edited" />
        <img slot="second" [src]="urlService.urls.image1" />
    </img-comparison-slider>
</div>
<div>
    <img-comparison-slider class="image-slider image2">
        <img slot="first" [src]="urlService.urls.image2Edited" />
        <img slot="second" [src]="urlService.urls.image2" />
    </img-comparison-slider>
</div>
<div>
    <img-comparison-slider class="image-slider image3">
        <img slot="first" [src]="urlService.urls.image3Edited" />
        <img slot="second" [src]="urlService.urls.image3" />
    </img-comparison-slider>
</div>
