@import "colors";
@import "sizes";
html,
body {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $BACKGROUND-COLOR;
    color: $TEXT-COLOR;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
}

.primary-header {
    color: $HEADER-COLOR;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: $BACKGROUND-COLOR;
}

::-webkit-scrollbar-thumb {
    background: #6b6b6b;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}