:host {
  position: fixed;
  height: 1000%;
  width: 100%;
  pointer-events: none;
}

.car {
  $carHeight: 27px;
  $carWidth: ($carHeight / 83) * 121;

  position: absolute;
  height: $carHeight;
  width: $carWidth;
  transition: all 0.2s;
  transition-timing-function: linear;

  svg {
    height: $carHeight;
    width: $carWidth;
  }
}

.explosion {
  position: absolute;
  height: 150px;
}
